@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAPTAR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CAPTAR.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        @*Personalizacion de UI Menu Boostrach de BoosTrap*@
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <img src="~/admin/img/logo6.png" width="80" href="Home" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" href="Home">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>

                        @if (User.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Propietario" asp-action="Index">Propietario</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Propiedad" asp-action="index">Propiedad</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="Zona" asp-action="index">Zona</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Gestión de Usuarios</a>
                                <div class="dropdown-menu">
                                    @* <a class="dropdown-item" href="Pedido">Pedidos</a> *@
                                    <a class="dropdown-item" asp-controller="Usuario" asp-action="Create">Crear Usuarios</a>
                                    @if (User.Identity!.IsAuthenticated)
                                    {
                                        <a class="dropdown-item" asp-controller="Usuario" asp-action="Index">Listar Usuarios</a>

                                    }
                                </div>
                            </li>


                        }
@* 
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Solicitud" asp-action="index">Solicitud</a>
                            </li> *@

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Solicitudes</a>
                            <div class="dropdown-menu">
                                @* <a class="dropdown-item" href="Pedido">Pedidos</a> *@
                                <a class="dropdown-item" asp-controller="Solicitud" asp-action="Create">Crear Solicitud</a>
                                 @if (User.Identity!.IsAuthenticated)
                                    {
                                            <a class="dropdown-item" asp-controller="Solicitud" asp-action="Index">Listar Solicitudes</a>

                                    }
                            </div>
                        </li>

                      
                        
                    </ul>
                    <div class="alert-success">
                        @ViewBag.Message

                    </div>


                    @if (User.Identity!.IsAuthenticated)
                    {
                        <a>
                            @User.Claims.Where(c => c.Type == ClaimTypes.Name).Select(c => c.Value).SingleOrDefault()
                        </a>
                        <a asp-controller="Home" asp-action="Salir"> <img src="~/admin/img/user_out.png" width="60" /> </a>
                    }
                    else
                    {
                        <a asp-controller="Acceso" asp-action="Login"> <img src="~/admin/img/user_in2.png" width="60" /> </a>
                        <p class="nav-item">
                            <a class="nav-link  " asp-area="" asp-controller="Acceso" asp-action="Registrarse">Registrarse</a>
                        </p>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Message"]
        </div>
    }
    @* <footer class="border-top footer text-muted"> *@

    <footer class="footer  navbar-nav me-auto bg-dark" data-bs-theme="dark">
        <div class="container">
            @* &copy; 2024 - CAPTAR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
            Made by Italo DEV with <i class="bi bi-heart-fill"></i>
            &copy; 2025    CAPTAR - Bienes y Raices <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
